/* Constantes */

:root {
    /*Paleta de colores*/
    --blanco: #ffffff;
    --obscuro: #000000;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3;
    /*Medidas*/
    --fuente_principal: 3.8rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}


/* Scroll snap */

.navegacion-principal,
.servicios,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100%);
}

h1 {
    font-size: var(--fuente_principal);
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}


/*Fin de lineas rectificadoras de rem*/

.titulo {
    color: var(--obscuro);
    font-weight: bold;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--obscuro);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.62);
    width: 100%;
    height: 100%;
    /*Alinear al centro*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.btn {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .btn {
        width: auto;
    }
}


/* De aqui en adelante es el contenido principal */

.sombra {
    -webkit-box-shadow: -5px 7px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 7px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 7px 20px -4px rgba(0, 0, 0, 0.75);
    background-color: var(--blanco);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
}


/* Servicios */

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.servicio h3 {
    color: var(--secundario);
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.formulario {
    background-color: var(--gris);
    border-radius: 2rem;
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
}

.formulario fieldset {
    border: none;
}

.formulario fieldset legend {
    color: var(--primario);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo textarea {
    height: 20rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.input {
    width: 100%;
    border: none;
    border-radius: .5rem;
    padding: 1.5rem;
}

.enviar .btn {
    margin-top: 4rem;
    width: 100%;
}

.footer {
    text-align: center;
    color: var(--obscuro);
    font-weight: bold;
}