:root {
    /*Paleta de colores*/
    --blanco: #FFFFFF;
    --obscuro: #000000;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    /*Medidas*/
    --fuente_principal: 3.8rem;
}


/*Lineas rectificadoras de rem*/

html {
    font-size: 62.5%;
    /*1rem = 10px*/
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}


/*Fin de lineas rectificadoras de rem*/

.titulo {
    text-align: center;
    font-size: var(--fuente_principal);
    color: var(--primario);
    font-weight: normal;
}

.titulo span {
    font-size: 2rem;
}