/* Constantes */

:root {
    /*Paleta de colores*/
    --blanco: #ffffff;
    --obscuro: #000000;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3;
    /*Medidas*/
    --fuente_principal: 3.8rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100%);
}

h1 {
    font-size: var(--fuente_principal);
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}


/*Fin de lineas rectificadoras de rem*/

.titulo {
    color: var(--obscuro);
    font-weight: bold;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--obscuro);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.62);
    width: 100%;
    height: 100%;
    /*Alinear al centro*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.btn {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {
    .btn {
        width: auto;
    }
}


/* De aqui en adelante es el contenido principal */

.sombra {
    -webkit-box-shadow: -5px 7px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 7px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 7px 20px -4px rgba(0, 0, 0, 0.75);
    background-color: var(--blanco);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}